

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }
  a { padding: 10px;}
</style>
<div>Version 0.3</div>
<a [routerLink]="['compra']">Compra</a>
<a [routerLink]="['menu']">Menu</a>
<router-outlet></router-outlet>
